@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Varela+Round&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white ;
  /* font-family: calibri; */


}

.main{
  display: flex;
  font-family: "Varela Round", sans-serif;
}

.WelcomeContainer{
  background-color: #9588E8 ;
  height: 100vh;
  width: 45vw;
  position: relative;
  z-index: 99;
  clip-path: circle(92.0% at 99% 50%);
  background: repeating-radial-gradient(circle, transparent, transparent 5.3px, #9588e5 5.3px, #9588e5 6.8px), repeating-radial-gradient(circle, transparent, transparent 5.3px, #9588e5 5.3px, #9588e5 6.8px), #8072e1;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px, 30px 15px;
  background-color: #8072e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeadingContainer{
  width: 90%;
  text-align: center;
  /* position: relative; */
}
.logo{
  width: 70%;
}
.secondHeading {
  color: white; 
  font-size: 1.3rem; 
  font-weight:500; 
  line-height: 2rem;
}

.flyRobo{
  width: 50%;
  position: absolute;
  top: 10%;
  right: -10%;
}

.outerbox{
  display: flex;
  flex-direction: column;
}

.loginContainer{
  background-color: white;
  /* height: 100vh; */
  width: 55vw;
  /* border-radius: 5rem 0 0 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 98;
}

.FormContainer{
  background-color: white;
  width: 70%;
  min-height: 45%;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

input{
  padding: 3rem 0 0 0;
  padding-bottom: 0.3rem;
  border: none;
  border-bottom: 1px solid rgb(193, 188, 188);
  font-size: 1rem;
  /* To made the input transparent after autofill */
  transition: background-color 5000s ease-in-out;
}

input:focus{
  /* border: none; */
  outline: none;
}

input:-webkit-autofill{
  background-color: transparent !important;
}

input::placeholder{
  font-size: 1rem;
  padding-bottom: 0.3rem;
}
.forgotPass{
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-decoration: none;

}
.forgotPass:hover{
  opacity: 0.8;
}
.loginButton{
  background-color: #735ff6;
  border: none;
  padding: 0.8rem;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem ;
}

.loginButton:hover{
  background-color: #9588E8;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.thirdpartyLogin{
  background-color: white;
  width: 70%;
  min-height: 25%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.LineText{
  color: grey;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  width: 100%;
}

.LineText::before,
.LineText::after{
  content: "";
  flex: 1;
  height: 1px;
  background-color: rgb(184, 179, 179);
  margin: 0 0.8rem;
}

.icons{
  margin: 1rem;
}


.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.fa-facebook-square{
  color: #1c40ad;
}

.fa-twitter{
  color: #285AEB;
}

.fa-linkedin{
  color: #173cae;
}

i{
  border: 1px solid rgb(184, 179, 179);
  padding: 0.7rem; 
  border-radius: 50%;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

i:hover{
  /* background-color: rgb(212, 209, 209); */
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media (max-width: 1208px ){
  .WelcomeContainer{
    clip-path: circle(85.0% at 99% 50%);
  }
}

@media (max-width: 1099px ){
  
  .WelcomeContainer{
    clip-path: circle(79.0% at 99% 50%);
  }
}
@media (max-width: 897px ){
  i{
    margin: 0.5rem;
  }
  .WelcomeContainer{
    clip-path: circle(69.0% at 99% 50%);
  }
}

@media (max-width: 798px ){
  .WelcomeContainer{
    display: none;
  }
  i{
    margin: 1rem;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginContainer{
    width: 100vw;
    margin-top: 5rem;
  }
}
@media (max-width: 603px ){
  i{
    margin: 1rem;
  }
}
@media (max-width: 489px ){
  i{
    margin: 0.5rem;
  }
}


